            <div class="row friends-number">
                <div class="col-1 friends">Friends</div>
                <div class="col-1 number-of-friends">{{ quantity_of_friends }}</div>
            </div>