                <a class="link__friend-1 col-xxl-4" href="#">
                    <div class="friend friend-1">
                        <div class="avatar-thumb"></div>
                        <div class="friend-data">
                            <span>{{ user.name }}</span>
                            <span>{{ user.location }}</span>
                        </div>
                    </div>
                </a>