<div class="row messenger__head">
    <img src="{{targetUser.user_avatar}}" class="col-4 messenger__avatar">
    <div class="col-4 messenger__target__user-name">{{targetUser.user_name}}</div>
    <div class="col-4 messenger__btn-close" onclick="window.location.replace('/')"></div>
</div>