            <div class="row friends-number w-auto">
                <div class="col-1 friends w-auto">Yor may know them</div>
                <div class="col-1 number-of-friends w-auto">{{quantity_of_friends}}</div>
            </div>